body,
html,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
